SPEACHES_HOST_PORT=8000
SPEACHES_CACHE_DIR=/mnt/containers/speaches-data

WHISPER_MODEL=systran/faster-whisper-small
WHISPER_COMPUTE_TYPE=int8

TTS_ENGINE=piper
PIPER_VOICE=en_US-lessac-medium

DOCKER_NETWORK_NAME=ai-net
