DOCLING_HOST_PORT=5001
DOCLING_CACHE_DIR=/mnt/containers/docling-data

PORT=5001
ENABLE_UI=true

OMP_NUM_THREADS=8
MKL_NUM_THREADS=8
OMP_PROC_BIND=false
KMP_AFFINITY=disabled
ORT_DISABLE_CPU_AFFINITY=1

UVICORN_TIMEOUT_KEEP_ALIVE=60
UVICORN_TIMEOUT_NOTIFY=60

DOCKER_NETWORK_NAME=ai-net
