use_default_settings: true

server:
  bind_address: "0.0.0.0"
  port: 8080
  secret_key: "replace_with_random_secret_key"
  limiter: false
  image_proxy: true

search:
  safe_search: 0
  autocomplete: "duckduckgo"
  formats:
    - html
    - json

engines:
  - name: google
    engine: google
    disabled: false
  - name: duckduckgo
    engine: duckduckgo
    disabled: false
  - name: bing
    engine: bing
    disabled: false
  - name: wikipedia
    engine: wikipedia
    disabled: false
