DOCKER_NETWORK_NAME=ai-net

PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443

PROXY_DATA_ROOT=/mnt/containers/proxy-data
LANDING_ROOT=/mnt/containers/proxy-data/landing
CERTS_ROOT=/mnt/containers/proxy-data/certs

BASE_DOMAIN=ai.local
LLAMA_UPSTREAM=http://host.docker.internal:11434
OPENWEBUI_UPSTREAM=http://host.docker.internal:3000
PIPELINES_UPSTREAM=http://host.docker.internal:9099
SEARXNG_UPSTREAM=http://host.docker.internal:8080
COMFYUI_UPSTREAM=http://host.docker.internal:8188
